function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto SQUAREGAME_0_L1_IF
push this 0
call Square.moveUp 1
pop temp 0
goto SQUAREGAME_1_L2_IF
label SQUAREGAME_0_L1_IF
label SQUAREGAME_1_L2_IF
push this 1
push constant 2
eq
not
if-goto SQUAREGAME_2_L1_IF
push this 0
call Square.moveDown 1
pop temp 0
goto SQUAREGAME_3_L2_IF
label SQUAREGAME_2_L1_IF
label SQUAREGAME_3_L2_IF
push this 1
push constant 3
eq
not
if-goto SQUAREGAME_4_L1_IF
push this 0
call Square.moveLeft 1
pop temp 0
goto SQUAREGAME_5_L2_IF
label SQUAREGAME_4_L1_IF
label SQUAREGAME_5_L2_IF
push this 1
push constant 4
eq
not
if-goto SQUAREGAME_6_L1_IF
push this 0
call Square.moveRight 1
pop temp 0
goto SQUAREGAME_7_L2_IF
label SQUAREGAME_6_L1_IF
label SQUAREGAME_7_L2_IF
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label SQUAREGAME_8_L1_WHILE
push local 1
not
not
if-goto SQUAREGAME_9_L2_WHILE
label SQUAREGAME_10_L1_WHILE
push local 0
push constant 0
eq
not
if-goto SQUAREGAME_11_L2_WHILE
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SQUAREGAME_10_L1_WHILE
label SQUAREGAME_11_L2_WHILE
push local 0
push constant 81
eq
not
if-goto SQUAREGAME_12_L1_IF
push constant 1
neg
pop local 1
goto SQUAREGAME_13_L2_IF
label SQUAREGAME_12_L1_IF
label SQUAREGAME_13_L2_IF
push local 0
push constant 90
eq
not
if-goto SQUAREGAME_14_L1_IF
push this 0
call Square.decSize 1
pop temp 0
goto SQUAREGAME_15_L2_IF
label SQUAREGAME_14_L1_IF
label SQUAREGAME_15_L2_IF
push local 0
push constant 88
eq
not
if-goto SQUAREGAME_16_L1_IF
push this 0
call Square.incSize 1
pop temp 0
goto SQUAREGAME_17_L2_IF
label SQUAREGAME_16_L1_IF
label SQUAREGAME_17_L2_IF
push local 0
push constant 131
eq
not
if-goto SQUAREGAME_18_L1_IF
push constant 1
pop this 1
goto SQUAREGAME_19_L2_IF
label SQUAREGAME_18_L1_IF
label SQUAREGAME_19_L2_IF
push local 0
push constant 133
eq
not
if-goto SQUAREGAME_20_L1_IF
push constant 2
pop this 1
goto SQUAREGAME_21_L2_IF
label SQUAREGAME_20_L1_IF
label SQUAREGAME_21_L2_IF
push local 0
push constant 130
eq
not
if-goto SQUAREGAME_22_L1_IF
push constant 3
pop this 1
goto SQUAREGAME_23_L2_IF
label SQUAREGAME_22_L1_IF
label SQUAREGAME_23_L2_IF
push local 0
push constant 132
eq
not
if-goto SQUAREGAME_24_L1_IF
push constant 4
pop this 1
goto SQUAREGAME_25_L2_IF
label SQUAREGAME_24_L1_IF
label SQUAREGAME_25_L2_IF
label SQUAREGAME_26_L1_WHILE
push local 0
push constant 0
eq
not
not
if-goto SQUAREGAME_27_L2_WHILE
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SQUAREGAME_26_L1_WHILE
label SQUAREGAME_27_L2_WHILE
goto SQUAREGAME_8_L1_WHILE
label SQUAREGAME_9_L2_WHILE
push constant 0
return
